<div id="cheatsheet-terminal">
    <div class=fakeMenu>
      <p class="terminal-heading">Terminal</p>
    </div>
    <div class="fakeScreen">
      <p class="line2">*Messages of the day*</p>
      <p class="line2">--Team Meating Friday @ 1pm</p>
      <p class="line2">--Patching due Jan 1st</p>
      <p class="line4">>linux1@raytheon:<span class="line1">~/Home/jane/</span><span class="line4">$mkdir projects&#x2588;</span></p><!-- &#x2588; is the  block element to represent full block cursor-->
    </div>
  </div>